/*CSS PADRAO*/

/* FONTE BASE DO SITE */
*{
	font-family: 'PT Serif', serif;
}

/* CONTAINER DO SITE */

.container{
	width: 1230px;
	display: flex;
	margin: 0 auto;
	max-width: 100%;
}

.container.row{
	flex-direction: row;
}

.container.col{
	flex-direction: column;
}

/*MAIN CSS*/
.body-login {
	background-image: url('../../img/img_wallpaper.jpg');
	background-repeat: no-repeat;
}

.txt-login {
	color: white;

}

.login-principal {
	margin-left: 40%;
	margin-top: 9.5%;
}

.login-form {
    text-align: center;
}

table#t01 {
	width: 100%; 
    background-color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

.main-cadastrar-livro {
	background-color: cadetblue;
}

.btn-cadastrar-livro {
	cursor: pointer;
	background-color: blue;
	color: white;
	margin-top: 10px;
}

.form-cadastrar-livro {
	font-size: 18px;
	color: white;
}